gateway/flows/terrarium-gateway.json
[
  {
    "id": "flow_terrarium_gateway",
    "type": "tab",
    "label": "Terrarium Gateway",
    "disabled": false,
    "info": "Gateway flow for USB/UART telemetry ingestion, SQLite queueing and HTTPS upload."
  },
  {
    "id": "ui_tab_gateway",
    "type": "ui_tab",
    "name": "Gateway",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "Status",
    "tab": "ui_tab_gateway",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "sqlite_gateway_db",
    "type": "sqlitedb",
    "db": "${SQLITE_PATH}",
    "mode": "RWC"
  },
  {
    "id": "serial_gateway_port",
    "type": "serial-port",
    "serialport": "${SERIAL_PORT}",
    "serialbaud": "${SERIAL_BAUD}",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "\\n",
    "dtr": "none",
    "rts": "none",
    "cts": "false",
    "dsr": "false",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "resethardware": false
  },
  {
    "id": "inject_schema",
    "type": "inject",
    "z": "flow_terrarium_gateway",
    "name": "Init schema",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "function_schema"
      ]
    ]
  },
  {
    "id": "function_schema",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Prepare SQLite schema",
    "func": "const statements = [\n  \"CREATE TABLE IF NOT EXISTS telemetry_queue (id INTEGER PRIMARY KEY AUTOINCREMENT, payload_json TEXT NOT NULL, created_at TEXT NOT NULL, sent_at TEXT NULL)\",\n  \"CREATE TABLE IF NOT EXISTS gateway_meta (meta_key TEXT PRIMARY KEY, meta_value TEXT NOT NULL, updated_at TEXT NOT NULL)\"\n];\n\nreturn [statements.map((topic) => ({ topic }))];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 80,
    "wires": [
      [
        "sqlite_schema"
      ]
    ]
  },
  {
    "id": "sqlite_schema",
    "type": "sqlite",
    "z": "flow_terrarium_gateway",
    "mydb": "sqlite_gateway_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Execute schema SQL",
    "x": 660,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "serial_in",
    "type": "serial in",
    "z": "flow_terrarium_gateway",
    "name": "Read Core Module",
    "serial": "serial_gateway_port",
    "x": 150,
    "y": 180,
    "wires": [
      [
        "function_parse"
      ]
    ]
  },
  {
    "id": "function_parse",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Parse telemetry line",
    "func": "const raw = (typeof msg.payload === \"string\" ? msg.payload : \"\").trim();\nif (!raw) {\n  return null;\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  node.warn(\"Skipping invalid JSON line: \" + raw);\n  return null;\n}\n\nconst reading = {\n  deviceExternalId: String(parsed.deviceExternalId || parsed.deviceId || \"core-module-unknown\"),\n  capturedAt: parsed.capturedAt || new Date().toISOString(),\n  temperatureC: typeof parsed.temperatureC === \"number\" ? parsed.temperatureC : null,\n  humidityPct: typeof parsed.humidityPct === \"number\" ? parsed.humidityPct : null,\n  accelerationG: typeof parsed.accelerationG === \"number\" ? parsed.accelerationG : null,\n  batteryPct: typeof parsed.batteryPct === \"number\" ? parsed.batteryPct : null,\n  movementDetected: Boolean(parsed.movementDetected),\n  buttonPressed: Boolean(parsed.buttonPressed),\n  sampleCount: 1,\n  source: parsed.source || \"instant\",\n  firmwareVersion: parsed.firmwareVersion || null,\n  hardwareRevision: parsed.hardwareRevision || null\n};\n\nflow.set(\"latestReading\", reading);\n\nreturn [\n  { payload: reading },\n  { payload: reading }\n];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 180,
    "wires": [
      [
        "function_aggregate"
      ],
      [
        "function_dashboard"
      ]
    ]
  },
  {
    "id": "function_aggregate",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Aggregate 1 minute buckets",
    "func": "const reading = msg.payload;\nconst bucketStart = new Date(reading.capturedAt);\nbucketStart.setUTCSeconds(0, 0);\nconst bucketKey = reading.deviceExternalId + \":\" + bucketStart.toISOString();\n\nconst buffer = flow.get(\"aggregateBuffer\") || {};\nconst entry = buffer[bucketKey] || {\n  deviceExternalId: reading.deviceExternalId,\n  capturedAt: bucketStart.toISOString(),\n  temperatureTotal: 0,\n  temperatureSamples: 0,\n  humidityTotal: 0,\n  humiditySamples: 0,\n  accelerationTotal: 0,\n  accelerationSamples: 0,\n  movementDetected: false,\n  buttonPressed: false,\n  sampleCount: 0,\n  firmwareVersion: reading.firmwareVersion || null,\n  hardwareRevision: reading.hardwareRevision || null\n};\n\nif (typeof reading.temperatureC === \"number\") {\n  entry.temperatureTotal += reading.temperatureC;\n  entry.temperatureSamples += 1;\n}\n\nif (typeof reading.humidityPct === \"number\") {\n  entry.humidityTotal += reading.humidityPct;\n  entry.humiditySamples += 1;\n}\n\nif (typeof reading.accelerationG === \"number\") {\n  entry.accelerationTotal += reading.accelerationG;\n  entry.accelerationSamples += 1;\n}\n\nentry.movementDetected = entry.movementDetected || reading.movementDetected;\nentry.buttonPressed = entry.buttonPressed || reading.buttonPressed;\nentry.sampleCount += reading.sampleCount || 1;\n\nbuffer[bucketKey] = entry;\nflow.set(\"aggregateBuffer\", buffer);\n\nif (reading.movementDetected || reading.buttonPressed) {\n  return [null, { payload: { ...reading, source: \"instant\" } }];\n}\n\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 180,
    "wires": [
      [],
      [
        "function_queue"
      ]
    ]
  },
  {
    "id": "inject_flush",
    "type": "inject",
    "z": "flow_terrarium_gateway",
    "name": "Flush minute buckets",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 260,
    "wires": [
      [
        "function_flush"
      ]
    ]
  },
  {
    "id": "function_flush",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Emit aggregate readings",
    "func": "const buffer = flow.get(\"aggregateBuffer\") || {};\nconst now = Date.now();\nconst outgoing = [];\nconst remaining = {};\n\nfor (const [key, entry] of Object.entries(buffer)) {\n  if (now - new Date(entry.capturedAt).getTime() < 60_000) {\n    remaining[key] = entry;\n    continue;\n  }\n\n  outgoing.push({\n    payload: {\n      deviceExternalId: entry.deviceExternalId,\n      capturedAt: entry.capturedAt,\n      temperatureC: entry.temperatureSamples ? Number((entry.temperatureTotal / entry.temperatureSamples).toFixed(2)) : null,\n      humidityPct: entry.humiditySamples ? Number((entry.humidityTotal / entry.humiditySamples).toFixed(2)) : null,\n      accelerationG: entry.accelerationSamples ? Number((entry.accelerationTotal / entry.accelerationSamples).toFixed(2)) : null,\n      batteryPct: null,\n      movementDetected: entry.movementDetected,\n      buttonPressed: entry.buttonPressed,\n      sampleCount: entry.sampleCount,\n      source: \"aggregate\",\n      firmwareVersion: entry.firmwareVersion,\n      hardwareRevision: entry.hardwareRevision\n    }\n  });\n}\n\nflow.set(\"aggregateBuffer\", remaining);\nreturn [outgoing];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 260,
    "wires": [
      [
        "function_queue"
      ]
    ]
  },
  {
    "id": "function_queue",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Queue reading in SQLite",
    "func": "msg.topic = \"INSERT INTO telemetry_queue (payload_json, created_at, sent_at) VALUES (?, ?, NULL)\";\nmsg.payload = [JSON.stringify(msg.payload), new Date().toISOString()];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 960,
    "y": 220,
    "wires": [
      [
        "sqlite_queue"
      ]
    ]
  },
  {
    "id": "sqlite_queue",
    "type": "sqlite",
    "z": "flow_terrarium_gateway",
    "mydb": "sqlite_gateway_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Insert queued payload",
    "x": 1220,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "inject_upload",
    "type": "inject",
    "z": "flow_terrarium_gateway",
    "name": "Upload unsent queue",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "15",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 360,
    "wires": [
      [
        "function_select_unsent"
      ]
    ]
  },
  {
    "id": "function_select_unsent",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Select unsent rows",
    "func": "msg.topic = \"SELECT id, payload_json FROM telemetry_queue WHERE sent_at IS NULL ORDER BY id ASC LIMIT 100\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 360,
    "wires": [
      [
        "sqlite_select_unsent"
      ]
    ]
  },
  {
    "id": "sqlite_select_unsent",
    "type": "sqlite",
    "z": "flow_terrarium_gateway",
    "mydb": "sqlite_gateway_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Read upload batch",
    "x": 630,
    "y": 360,
    "wires": [
      [
        "function_build_request"
      ]
    ]
  },
  {
    "id": "function_build_request",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Build HTTPS batch request",
    "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst apiBaseUrl = env.get(\"API_BASE_URL\") || \"http://localhost:4000\";\nconst gatewaySlug = env.get(\"GATEWAY_SLUG\") || \"terrarium-gateway-01\";\nconst apiKey = env.get(\"GATEWAY_API_KEY\") || \"\";\n\nif (rows.length === 0) {\n  flow.set(\"cloudStatus\", {\n    state: \"idle\",\n    message: \"Queue is empty.\",\n    updatedAt: new Date().toISOString()\n  });\n  const latestReading = flow.get(\"latestReading\") || null;\nconst queueCount = flow.get(\"queueCount\") || 0;\nconst cloudStatus = flow.get(\"cloudStatus\") || {\n  state: \"idle\",\n  message: \"Waiting for the first upload cycle.\",\n  updatedAt: null\n};\n\nmsg.payload = {\n  queueCount,\n  latestDevice: latestReading ? latestReading.deviceExternalId : \"No data\",\n  latestTemperature:\n    latestReading && latestReading.temperatureC !== null && latestReading.temperatureC !== undefined\n      ? latestReading.temperatureC.toFixed(1) + \" °C\"\n      : \"No data\",\n  latestHumidity:\n    latestReading && latestReading.humidityPct !== null && latestReading.humidityPct !== undefined\n      ? latestReading.humidityPct.toFixed(1) + \" %\"\n      : \"No data\",\n  latestSeenAt: latestReading ? latestReading.capturedAt : \"No data\",\n  cloudState: cloudStatus.state,\n  cloudMessage: cloudStatus.message,\n  cloudUpdatedAt: cloudStatus.updatedAt || \"No uploads yet\"\n};\n\nreturn [null, msg];\n}\n\nif (!apiKey) {\n  flow.set(\"cloudStatus\", {\n    state: \"offline\",\n    message: \"Missing GATEWAY_API_KEY.\",\n    updatedAt: new Date().toISOString()\n  });\n  const latestReading = flow.get(\"latestReading\") || null;\nconst queueCount = flow.get(\"queueCount\") || 0;\nconst cloudStatus = flow.get(\"cloudStatus\") || {\n  state: \"idle\",\n  message: \"Waiting for the first upload cycle.\",\n  updatedAt: null\n};\n\nmsg.payload = {\n  queueCount,\n  latestDevice: latestReading ? latestReading.deviceExternalId : \"No data\",\n  latestTemperature:\n    latestReading && latestReading.temperatureC !== null && latestReading.temperatureC !== undefined\n      ? latestReading.temperatureC.toFixed(1) + \" °C\"\n      : \"No data\",\n  latestHumidity:\n    latestReading && latestReading.humidityPct !== null && latestReading.humidityPct !== undefined\n      ? latestReading.humidityPct.toFixed(1) + \" %\"\n      : \"No data\",\n  latestSeenAt: latestReading ? latestReading.capturedAt : \"No data\",\n  cloudState: cloudStatus.state,\n  cloudMessage: cloudStatus.message,\n  cloudUpdatedAt: cloudStatus.updatedAt || \"No uploads yet\"\n};\n\nreturn [null, msg];\n}\n\nconst readings = rows.map((row) => JSON.parse(row.payload_json));\nmsg.url = apiBaseUrl + \"/api/v1/ingest/telemetry\";\nmsg.method = \"POST\";\nmsg.headers = {\n  Authorization: \"Bearer \" + apiKey\n};\nmsg.payload = {\n  gatewaySlug,\n  sentAt: new Date().toISOString(),\n  readings\n};\nmsg.queueIds = rows.map((row) => row.id);\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 360,
    "wires": [
      [
        "http_upload"
      ],
      [
        "function_dashboard"
      ]
    ]
  },
  {
    "id": "http_upload",
    "type": "http request",
    "z": "flow_terrarium_gateway",
    "name": "POST to cloud",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1140,
    "y": 360,
    "wires": [
      [
        "function_handle_response"
      ]
    ]
  },
  {
    "id": "function_handle_response",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Handle upload response",
    "func": "const queueIds = Array.isArray(msg.queueIds) ? msg.queueIds : [];\n\nif (msg.statusCode >= 200 && msg.statusCode < 300) {\n  flow.set(\"cloudStatus\", {\n    state: \"online\",\n    message: \"Uploaded \" + queueIds.length + \" queued readings.\",\n    updatedAt: new Date().toISOString()\n  });\n\n  if (queueIds.length === 0) {\n    const latestReading = flow.get(\"latestReading\") || null;\nconst queueCount = flow.get(\"queueCount\") || 0;\nconst cloudStatus = flow.get(\"cloudStatus\") || {\n  state: \"idle\",\n  message: \"Waiting for the first upload cycle.\",\n  updatedAt: null\n};\n\nmsg.payload = {\n  queueCount,\n  latestDevice: latestReading ? latestReading.deviceExternalId : \"No data\",\n  latestTemperature:\n    latestReading && latestReading.temperatureC !== null && latestReading.temperatureC !== undefined\n      ? latestReading.temperatureC.toFixed(1) + \" °C\"\n      : \"No data\",\n  latestHumidity:\n    latestReading && latestReading.humidityPct !== null && latestReading.humidityPct !== undefined\n      ? latestReading.humidityPct.toFixed(1) + \" %\"\n      : \"No data\",\n  latestSeenAt: latestReading ? latestReading.capturedAt : \"No data\",\n  cloudState: cloudStatus.state,\n  cloudMessage: cloudStatus.message,\n  cloudUpdatedAt: cloudStatus.updatedAt || \"No uploads yet\"\n};\n\nreturn msg;\n  }\n\n  const placeholders = queueIds.map(() => \"?\").join(\", \");\n  msg.topic = \"UPDATE telemetry_queue SET sent_at = ? WHERE id IN (\" + placeholders + \")\";\n  msg.payload = [new Date().toISOString(), ...queueIds];\n  return [msg, { payload: flow.get(\"latestReading\") || {} }];\n}\n\nflow.set(\"cloudStatus\", {\n  state: \"offline\",\n  message: \"Upload failed with status \" + (msg.statusCode || \"unknown\") + \".\",\n  updatedAt: new Date().toISOString()\n});\n\nconst latestReading = flow.get(\"latestReading\") || null;\nconst queueCount = flow.get(\"queueCount\") || 0;\nconst cloudStatus = flow.get(\"cloudStatus\") || {\n  state: \"idle\",\n  message: \"Waiting for the first upload cycle.\",\n  updatedAt: null\n};\n\nmsg.payload = {\n  queueCount,\n  latestDevice: latestReading ? latestReading.deviceExternalId : \"No data\",\n  latestTemperature:\n    latestReading && latestReading.temperatureC !== null && latestReading.temperatureC !== undefined\n      ? latestReading.temperatureC.toFixed(1) + \" °C\"\n      : \"No data\",\n  latestHumidity:\n    latestReading && latestReading.humidityPct !== null && latestReading.humidityPct !== undefined\n      ? latestReading.humidityPct.toFixed(1) + \" %\"\n      : \"No data\",\n  latestSeenAt: latestReading ? latestReading.capturedAt : \"No data\",\n  cloudState: cloudStatus.state,\n  cloudMessage: cloudStatus.message,\n  cloudUpdatedAt: cloudStatus.updatedAt || \"No uploads yet\"\n};\n\nreturn msg;",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1380,
    "y": 360,
    "wires": [
      [
        "sqlite_mark_sent"
      ],
      [
        "function_dashboard"
      ]
    ]
  },
  {
    "id": "sqlite_mark_sent",
    "type": "sqlite",
    "z": "flow_terrarium_gateway",
    "mydb": "sqlite_gateway_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Mark rows sent",
    "x": 1610,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "inject_cleanup",
    "type": "inject",
    "z": "flow_terrarium_gateway",
    "name": "Cleanup sent rows",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": "15",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 450,
    "wires": [
      [
        "function_cleanup"
      ]
    ]
  },
  {
    "id": "function_cleanup",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Delete old sent rows",
    "func": "const cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString();\nmsg.topic = \"DELETE FROM telemetry_queue WHERE sent_at IS NOT NULL AND sent_at < ?\";\nmsg.payload = [cutoff];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 450,
    "wires": [
      [
        "sqlite_cleanup"
      ]
    ]
  },
  {
    "id": "sqlite_cleanup",
    "type": "sqlite",
    "z": "flow_terrarium_gateway",
    "mydb": "sqlite_gateway_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Cleanup SQLite queue",
    "x": 640,
    "y": 450,
    "wires": [
      []
    ]
  },
  {
    "id": "inject_count",
    "type": "inject",
    "z": "flow_terrarium_gateway",
    "name": "Refresh dashboard count",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "4",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 540,
    "wires": [
      [
        "function_count"
      ]
    ]
  },
  {
    "id": "function_count",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Count unsent rows",
    "func": "msg.topic = \"SELECT COUNT(*) AS queued FROM telemetry_queue WHERE sent_at IS NULL\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 540,
    "wires": [
      [
        "sqlite_count"
      ]
    ]
  },
  {
    "id": "sqlite_count",
    "type": "sqlite",
    "z": "flow_terrarium_gateway",
    "mydb": "sqlite_gateway_db",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Read queue count",
    "x": 610,
    "y": 540,
    "wires": [
      [
        "function_dashboard"
      ]
    ]
  },
  {
    "id": "function_dashboard",
    "type": "function",
    "z": "flow_terrarium_gateway",
    "name": "Build dashboard model",
    "func": "if (Array.isArray(msg.payload) && msg.payload[0] && typeof msg.payload[0].queued === \"number\") {\n  flow.set(\"queueCount\", msg.payload[0].queued);\n}\n\nconst latestReading = flow.get(\"latestReading\") || null;\nconst queueCount = flow.get(\"queueCount\") || 0;\nconst cloudStatus = flow.get(\"cloudStatus\") || {\n  state: \"idle\",\n  message: \"Waiting for the first upload cycle.\",\n  updatedAt: null\n};\n\nmsg.payload = {\n  queueCount,\n  latestDevice: latestReading ? latestReading.deviceExternalId : \"No data\",\n  latestTemperature:\n    latestReading && latestReading.temperatureC !== null && latestReading.temperatureC !== undefined\n      ? latestReading.temperatureC.toFixed(1) + \" °C\"\n      : \"No data\",\n  latestHumidity:\n    latestReading && latestReading.humidityPct !== null && latestReading.humidityPct !== undefined\n      ? latestReading.humidityPct.toFixed(1) + \" %\"\n      : \"No data\",\n  latestSeenAt: latestReading ? latestReading.capturedAt : \"No data\",\n  cloudState: cloudStatus.state,\n  cloudMessage: cloudStatus.message,\n  cloudUpdatedAt: cloudStatus.updatedAt || \"No uploads yet\"\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 540,
    "wires": [
      [
        "ui_template_status"
      ]
    ]
  },
  {
    "id": "ui_template_status",
    "type": "ui_template",
    "z": "flow_terrarium_gateway",
    "group": "ui_group_status",
    "name": "Gateway dashboard",
    "order": 1,
    "width": "12",
    "height": "8",
    "format": "<div style=\"display:grid;gap:12px;\">\n  <div style=\"padding:12px;border-radius:16px;background:#152723;\">\n    <strong>Cloud</strong>\n    <div>{{msg.payload.cloudState}}</div>\n    <small>{{msg.payload.cloudMessage}}</small>\n  </div>\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:12px;\">\n    <div style=\"padding:12px;border-radius:16px;background:#152723;\">\n      <strong>Queued Records</strong>\n      <div>{{msg.payload.queueCount}}</div>\n    </div>\n    <div style=\"padding:12px;border-radius:16px;background:#152723;\">\n      <strong>Latest Device</strong>\n      <div>{{msg.payload.latestDevice}}</div>\n    </div>\n  </div>\n  <div style=\"padding:12px;border-radius:16px;background:#152723;\">\n    <strong>Latest Reading</strong>\n    <div>{{msg.payload.latestTemperature}} / {{msg.payload.latestHumidity}}</div>\n    <small>{{msg.payload.latestSeenAt}}</small>\n  </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 1120,
    "y": 540,
    "wires": [
      []
    ]
  }
]
